@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #476FF5;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #77C6F0;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #9EDDF2;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #5F8EF5;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #F55D79;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #F65D79;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
